.social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
  background: #ddd;
  text-decoration: none;
  color: #555;
}
.container a{
  
  
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
padding: 7px 7px 7px 7px;
}
.container a :hover{
background-color: #00baf7;
  color: #000000;
  
}